<p>Hellow <%= @user.email %>!</p>
Please enter new password
<form method="POST" action="/sessions/recovery_reset">
	Password: <input type="password" name="password">
	Confirm new Password: <input type="password" name="password_confirmation">
	<input type="submit" value="Enter">
</form>
