<h1> Welcome to the Bookmark Manager </h1>

<% unless session[:user_id] == nil  %>
	<h2>Your bookmarks...</h2>
	<ul>
		<% @links.each do |link| %>
			<li><a href="<%= link.url %>"><%= link.title %></a></li>
		<% end %>
	</ul>

<% end %>

