<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href='/css/css_reset.css'>
	<link rel="stylesheet" type="text/css" href='/css/styles.css'>
</head>
<body>
	<header>
		<nav id="logo"> Bookmark Manager
			<%= partial :welcome %>
			<a href="/links/new" class="button highlight">New Link</a>
		</nav>
		<div id="user_buttons">
			<%= partial :user_management %>
		</div>
	</header>

	<%= partial :flash %>

	<%= yield %>
</body>
</html>